.sec2-container{
    width: 100%;
    // min-height: 100vh;
    background-color: white;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    z-index: 1;
    text-align: center;
    left: 0px;
    padding: 5rem 0px 0rem 0rem;

    .sec2-h2{
        // margin-top: 50px;
        font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5rem;

        span{
            color: #E11F1C;
        }
    }
    .sec2-p{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0em;
        text-align: center;
    }
}
.lp-phone-outer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lp-phone-img-wrapper {
    aspect-ratio: 5/11;
    position: relative;
    // width: 100%;
    width: 280px;
    height: 500px;
    display: flex;
    justify-content: center;

}
.lp-shop-crop {
    height: 100%;
    width: 100%;
    // width: 280px;
    // height: 500px;
}

.stat-box {
    background: rgba(39,39,39,.8);
    border-radius: 1em;
    box-shadow: 20px 20px 30px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    position: absolute;
}
.stat-box.order-2 {
    right: 0;
    top: 10%;
    -webkit-transform: translateX(71%);
    transform: translateX(71%);
}
.stat-box.order-3 {
    left: 0;
    top: 37%;
    -webkit-transform: translateX(-59%);
    transform: translateX(-59%);
}
.stat-box.order-5 {
    right: 0;
    top: 58%;
    -webkit-transform: translateX(65%);
    transform: translateX(65%);
}

@media screen and (max-width: 767px){
    .sec2-container{
        top: 0;
        border-radius: 0px;
        min-height: calc(max-content + 10px) !important;

        .sec2-h2{
            margin-top: 50px;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
    
            span{
                color: #E11F1C;
            }
        }
        
        .sec2-p{
            font-family: Poppins;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
            width: 70%;
            letter-spacing: 0em;
            
        }
    }
    .lp-phone-outer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .lp-phone-img-wrapper {
        aspect-ratio: 5/11;
        position: relative;
        // width: 100%;
        width: 200px;
        height: 470px;
        display: flex;
        justify-content: center;
    
    }
    .lp-shop-crop {
        height: 100%;
        width: 100%;
        // width: 280px;
        // height: 500px;
    }
    
    
    .sec2-p-center{
        display: flex;
        justify-content: center;
        // text-align: center;
    }
    .br-hidden{
        display: none;
    }
        
    }


