.section7 {
    position: relative;
    background: url('../../../public/images/Rectangle 216.png');
    background-size: cover;
    background-position: center;
  }
  
  .section7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699); /* Adjust the alpha value for the desired opacity */
  }
  
  .sec7-left{
    width: 30%;
    height: 100%;
  }
 
  
  
  
  
  