.sec1-slider-container {
    width: 100%;
    margin: 50px auto;
    position: relative;
  }
  
  .sec1-card {
    width: 260px;
    height: 100px;
    background-color: #000000;
    color: #fff;
    border-radius: 20px;
    display: flex !important;
    // align-items: center;
    // justify-content: center;
    padding: 10px;

    .sec1-card-img{
      display: flex;
      align-items: center;
    }

    img{
        width: 48px;
        height: 48px;
        margin-right: 5px;
    }

    .sec1-card-content{
        // width;
        margin-left: 5px;
        p{
            font-size: 16px;   
            font-weight: 300;
            margin-bottom: 2px;
            span{
                font-weight: 700;
            }
        }
    }

    .cards-space{
        display: flex;
        justify-content: space-between;
        // margin-top: 5px;
        .price{
            font-size: 12px;
            font-weight: 700px;
        }
        .days{
            font-size: 12px;
        }
    }
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev {
    left: -10px;
    z-index: 1;
  }
  
  .next {
    right: -10px;
  }



  .card{

    img{
        width: 48px;
        height: 48px;
        margin-right: 5px;
    }
    
}
.slick-track{
  display: flex;
  gap: 10px
}
.slick-slider button{
  background-color: red;
}