.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    min-height: max-content;
    position: relative;
    background-color: white;

    h2{
        font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 0em;
        text-align: center;
        color: #2B2B2B;
        margin: 50px 0px 0px 0px;
        span{
            color: #E11F1C;
        }
    }

    p{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        line-height: 1.5rem;
        letter-spacing: 0em;
        text-align: center;
        color: #2B2B2B;
        // width: 800px;
    }

    .slider{
        width: 100%;
        margin: 0px;
        padding: 0px;

        .slick-track{
            gap: 0;
        }

        .sec8-slider{
            width: 100%;
            height: 100%;
            min-height: 333px;
            background-color: #FAFAFA;
            display: flex !important;
            margin-top: 30px;
            cursor: pointer;
            // flex-wrap: wrap;

            .slider-image{
                width: 415px;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .slider-content{
                padding: 30px;
                width: 100%;

                .comma{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                
                .comma-bottom{
                    float: right;
                    margin-right: 30px;
                }

                h3{
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 2rem;
                    letter-spacing: 0em;
                    text-align: left;
                }
                p{
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 90%;
                }
            }
        }
    }
}

.sec8-arrow {
    width: 60px;
    height: 30px;
    background-color: transparent !important;
    color: #E11F1C;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sec-8prev {
    left: 20px;
    top: 150px;
    width: 60px;
    z-index: 1;
    background-color: none;
  }
  
  .sec-8next {
    right: 20px;
    top: 150px;
    background-color: none;
    // z-index: 1;
  }

  @media screen and (max-width: 767px){
    .section8{
    
        h2{
            font-size: 32px;
        }
    
        p{
            font-size: 20px;
            // width: 450px;
        }
    
        .slider{
            width: 100%;
            margin: 0px;
            padding: 0px;
    
            .slick-track{
                gap: 0;
            }
    
            .sec8-slider{
                width: 100%;
                height: 100%;
                min-height: 333px;
                background-color: transparent;
                display: flex !important;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                cursor: pointer;
                // flex-wrap: wrap;
    
                .slider-image{
                    width: 250px;
                    height: 250px;
    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
    
                .slider-content{
                    padding: 10px 30px;
                    // width: 80%;
                    text-align: center;
                    // background-color: #FAFAFA;
                    
    
                    h3{
                        font-size: 24px;
                        line-height: 30px;
                        text-align: center;
                        margin-top: 0px;
                    }
                    p{
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
    
    .sec8-arrow {
        width: 60px;
        height: 30px;
        background-color: transparent !important;
        color: #E11F1C;
        border: none;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      
      .sec-8prev {
        left: 20px;
        // top: 150px;
        width: 60px;
        z-index: 1;
        border: none;
        background-color: none;
      }
      
      .sec-8next {
        right: 20px;
        // top: 150px;
        background-color: transparent;
        border: none;
        // z-index: 1;
      }

      .comma-display-hidden{
        display: none;
      }
    
  }